---
import Image from '../../components/Image.astro';

const images = {
  overview: "/images/01-01-overview.png",
};
---

<section id="introduction">
    <h2>Introduction</h2>

    <h3 id="what-is-apiary">What is Apiary</h3>

    <p>Apiary is an open-source platform for managing requests to one or more large language models (LLMs) via a single API endpoint. Under the hood it can route requests to different LLMs, cache and reuse results, and apply “guardrails” to model outputs. Additionally,  it provides observability for every LLM call, allowing developers to view all of their applications’ LLM requests, responses, and costs in one central location.</p>

    <p>Developers can experiment and take advantage of the strengths of different models for different use cases within their applications, without having to manage multiple API formats or duplicate infrastructure for shared concerns like routing or guardrails.</p>

    <Image src={images.overview} alt="Apiary Overview" caption="Apiary Overview"/>
</section>